<div class="add-new-course-container">
  <div class="add-new-course-first-step" *ngIf="currentStep === 1">
    <form [formGroup]="courseDescriptionFormGroup">
      <mat-form-field appearance="legacy">
        <mat-label>Course name</mat-label>
        <input matInput [formControlName]="'courseName'" required>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Course Short description</mat-label>
        <input matInput [formControlName]="'courseShortDescription'" required>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Course full description</mat-label>
        <input matInput [formControlName]="'courseFullDescription'" required>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Course price</mat-label>
        <input matInput [formControlName]="'coursePrice'" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choose previousCourse</mat-label>
        <mat-select #selectedPreviousCourse
                    [formControlName]="'previousCourse'"
                    [disabled]="allAuthorCourses?.length === 0">
          <mat-option *ngFor="let course of allAuthorCourses"
                      [value]="course.id">{{course.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <div class="add-new-course-first-step__upload-image">
      <app-file-upload
        [title]="'Choose course image'"
        [fileType]="'IMAGE'"
        (onFileChosen)="onCourseImageChosen($event)"></app-file-upload>
    </div>

    <div class="add-new-course-step-save">
      <button mat-raised-button color="primary" [disabled]="courseDescriptionFormGroup.invalid" (click)="onClickSaveFirstStep()">Save</button>
    </div>
  </div>

  <div class="add-new-course-second-step" *ngIf="currentStep === 2">
    <app-course-content [isAddNewCourse]="true"
                        [course]="createdCourse"
                        [currentLessonNumber]="currentLessonNumber"
                        (onAddCourseContentClick)="onCourseContentAdd()"
                        (onLessonNumberChange)="onCourseLessonNumberChange($event)"
                        (onAddNewLessonClick)="openLessonDialog()"></app-course-content>

    <div class="add-new-course-step-save">
      <button mat-raised-button color="primary" (click)="onClickSaveSecondStep()">Save</button>
    </div>
  </div>

  <div class="add-new-course-third-step" *ngIf="currentStep === 3">
    <app-course-test [isAddNewTest]="true"
                     [test]="courseTest"
                     [currentTestQuestionNumber]="currentTestLessonNumber"
                     (onAddTestQuestion)="onAddTestQuestion()"
                     (onAddNewTestLessonClick)="onCourseTestLessonAdd()"
                     (onTestLessonNumberChange)="onTestLessonNumberChange($event)"
                     (onAddTestContentClick)="onCourseTestContentAdd()">
    </app-course-test>

    <div class="add-new-course-step-save">
      <button mat-raised-button color="primary" (click)="onClickSaveThirdStep()">Save</button>
    </div>
  </div>
</div>
