<h1 mat-dialog-title>Add module content</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Choose an option</mat-label>
    <mat-select [(value)]="selectedOption" (valueChange)="onSelectedOptionChange()">
      <mat-option [value]="TEXT_SLIDE_TYPE">Text</mat-option>
      <mat-option [value]="AUDIO_SLIDE_TYPE">Audio</mat-option>
      <mat-option [value]="VIDEO_SLIDE_TYPE">Video</mat-option>
      <mat-option [value]="IMAGE_SLIDE_TYPE">Image</mat-option>
<!--      <mat-option [value]="RADIO_BUTTON_SLIDE_TYPE">Radio button</mat-option>-->
    </mat-select>
  </mat-form-field>

  <div class="add-course-content-popup-text" *ngIf="selectedOption === TEXT_SLIDE_TYPE">
    <mat-form-field appearance="legacy">
      <mat-label>Enter content</mat-label>
      <textarea matInput required [(ngModel)]="content"></textarea>
    </mat-form-field>
  </div>

  <div class="add-course-content-popup-text" *ngIf="selectedOption === AUDIO_SLIDE_TYPE">
    <app-file-upload
      [title]="'Audio file upload'"
      [fileType]="'AUDIO'"
      (onFileChosen)="onFileChosen($event)"></app-file-upload>
  </div>

  <div class="add-course-content-popup-text" *ngIf="selectedOption === IMAGE_SLIDE_TYPE">
    <app-file-upload
      [title]="'Image file upload'"
      [fileType]="'IMAGE'"
      (onFileChosen)="onFileChosen($event)"></app-file-upload>
  </div>

  <div class="add-course-content-popup-text" *ngIf="selectedOption === VIDEO_SLIDE_TYPE">
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput required [(ngModel)]="content">
    </mat-form-field>
  </div>

  <div class="add-course-content-popup-text" *ngIf="selectedOption === RADIO_BUTTON_SLIDE_TYPE">
    <app-radio-button-content-container [isAddNewCourse]="true" [radioButtonContent]="radioButtonModel">
    </app-radio-button-content-container>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" cdkFocusInitial (click)="onSave()">OK</button>
</div>
