<div class="course-container">
  <div class="course-navbar">
    <div *ngFor="let lesson of course.courseContent; let i = index">
      <div class="course-navbar-button">
        <button mat-button color="primary" [disabled]="i === currentLessonNumber" (click)="onCourseLessonChange(i)">{{lesson.name}}</button>
      </div>
    </div>
  </div>

  <div class="course-content-container">
    <div class="course-content-number">
      Lesson number {{currentLessonNumber + 1}}
    </div>

    <div class="course-content-container__nav-buttons-container">
      <button mat-button color="primary" [disabled]="currentLessonNumber === 0" (click)="onCourseLessonChange(currentLessonNumber - 1)">Previous lesson</button>
      <button mat-button color="primary" [disabled]="currentLessonNumber === course.courseContent.length - 1" (click)="onCourseLessonChange(currentLessonNumber + 1)">Next lesson</button>
    </div>

    <div *ngFor="let content of course.courseContent[currentLessonNumber].slideContent">
      <div *ngIf="content.slideContentType === TEXT_SLIDE_TYPE">
        <app-text-content-container [text]="content.slideContent"></app-text-content-container>
      </div>

      <div *ngIf="content.slideContentType === VIDEO_SLIDE_TYPE">
        <app-video-content-container [videoLink]="content.slideContent"></app-video-content-container>
      </div>

      <div *ngIf="content.slideContentType === AUDIO_SLIDE_TYPE">
        <app-audio-content-container [audioLink]="content.slideContent"></app-audio-content-container>
      </div>

      <div *ngIf="content.slideContentType === IMAGE_SLIDE_TYPE">
        <app-image-content-container [imageLink]="content.slideContent"></app-image-content-container>
      </div>

      <!--    <div *ngIf="content.slideContentType === RADIO_BUTTON_SLIDE_TYPE">-->
      <!--      <app-radio-button-content-container></app-radio-button-content-container>-->
      <!--    </div>-->
    </div>
  </div>
</div>


