<div class="radio-button-content-container">
  <div class="radio-button-content-add-hint-button" *ngIf="isAddNewCourse">
    <mat-form-field appearance="legacy">
      <mat-label>Enter title</mat-label>
      <input matInput #titleInput [(ngModel)]="title">
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!titleInput.value" (click)="onAddTitleClick()">Save title
    </button>
  </div>

  <div class="radio-button-content-add-button" *ngIf="isAddNewCourse">
    <mat-form-field appearance="legacy">
      <mat-label>Enter new option name</mat-label>
      <input matInput #optionInput [(ngModel)]="newOption">
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!optionInput.value" (click)="onAddOptionClick()">Add option
    </button>
  </div>

  <div class="radio-button-content-add-hint-button" *ngIf="isAddNewCourse">
    <mat-form-field appearance="legacy">
      <mat-label>Enter hint</mat-label>
      <input matInput #hintInput [(ngModel)]="hint">
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!hintInput.value" (click)="onAddHintClick()">Save hint
    </button>
  </div>

  <div id="radio-button-title" *ngIf="radioButtonContent?.title">
    {{radioButtonContent.title}}
  </div>

  <mat-radio-group
    class="radio-button-content-radio-group"
    [(ngModel)]="selectedOption">
    <mat-radio-button class="radio-button-button" *ngFor="let option of radioButtonContent.options; let i = index"
                      [checked]="i == userSubmittedAnswer"
                      [value]="option" (change)="onSelectedValueChange(i)">
      {{option}}
    </mat-radio-button>
  </mat-radio-group>

  <div class="radio-button-content-hint" *ngIf="radioButtonContent.hint && isAddNewCourse">
    {{radioButtonContent.hint}}
  </div>

  <div class="radio-button-answer-submit" *ngIf="!isAddNewCourse">
    <button mat-raised-button color="primary" (click)="onSubmitAnswer()"
            [disabled]="!selectedOption || previousSubmittedValue === selectedOption">
      {{previousSubmittedValue && previousSubmittedValue === selectedOption ? 'Submitted' : 'Submit'}}
    </button>
  </div>

  <div class="radio-button-content-answer-mark-text"
       *ngIf="selectedOptionIndex !== -1 && radioButtonContent.options && isAddNewCourse">
    <button mat-raised-button color="primary" (click)="markOptionAsCorrect()">Mark this option as correct</button>
  </div>

  <div class="radio-button-content-answer-correct-text"
       *ngIf="radioButtonContent?.correctOptionNumber !== -1 && radioButtonContent.options && isAddNewCourse">
    You've chosen {{radioButtonContent.options[radioButtonContent.correctOptionNumber]}} as correct option
  </div>
</div>
