<div class="course-full-description-container">
  <div class="course-full-description-content" *ngIf="course">
    <div class="course-full-description-name">
      {{course.name}}
    </div>

    <div class="course-full-description-image">
      <img [src]="course.imagePath">
    </div>

    <div class="course-full-description-text">
      {{course.fullDescription}}
    </div>

    <div class="course-full-description-price">
      {{course.price}}
    </div>

    <div class="course-full-description-enroll-button" *ngIf="!userCourseStatus">
      <button mat-button (click)="onCourseEnrollClick()">Enroll</button>
    </div>

    <div class="course-full-description-user-status" *ngIf="userCourseStatus">
      {{userCourseStatus.status.statusName}}
    </div>

    <div class="course-full-description-reviews-container">
      <div class="course-full-description-reviews-content" *ngFor="let review of reviews">
        {{review.author.login}}
        {{review.reviewContent}}
      </div>

      <div class="course-full-description-reviews-add">
        <mat-form-field>
          <mat-label>Enter review text</mat-label>
          <input matInput [(ngModel)]="newReviewText">
        </mat-form-field>

        <button mat-button (click)="addReview()">Add review</button>
      </div>
    </div>
  </div>
</div>
