.header {
  &-container {
    position: relative;
  }

  &-content {
    background-color: #333;
    overflow: hidden;
    height: 5vh;
  }

  &-content a, &-logout {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 2vh;
  }

  &-logout {
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  &-content a:hover, &-logout:hover {
    background-color: #3f51b5;
  }
}
